[Unit]
Description=Team Pulse oof task
After=network-online.target teampulse.service

[Service]
Type=oneshot
ExecStart=/opt/teampulse/scripts/scheduled-tasks.sh oof
